*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.card{
    max-height: 400px;
    max-height: 400px;
    margin-bottom: 1rem;
    
    transition:.3s;
    overflow: hidden;
    &:hover{
        transform: translateY(-10px);
    }
    &:hover img{
        transform: scale(1.2) scaleX(-1);
    }
    .card-header{
        overflow: hidden;
        background-color: white !important;


        img{
            padding-top: 1rem;
            width: 100%;
            min-height: 150px;
            max-height: 150px;
            object-fit: contain;
            transition: 0.3s; 
        }

    }
    
    .card-body{
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        

        p{
           width: 50%;
           font-size: 1rem;
           color: rgb(139, 0, 0);
           border-radius: 10px;
           text-align: left;
           text-shadow: 1rem;
        }
        h5{
            width: 100%;
        }

        .btn{
            width: 100%;
            margin-bottom: 10px;
            
        }
    }
    
}
.red{
    background-color: red;
}
.table{
    
    
    .ImgClass{
        width: 10%;

        img{
            width: 100%;
            object-fit: contain;
            
        }
    }
}
#BasketList{
    
    .BasketListItems{
        background-color: rgb(126, 124, 124);
        width: 560px;
        height: auto;
        border-radius: 1rem;
        padding-bottom: 1rem;
        
        .dinamic{

            .item{
            background-color: rgb(255, 255, 255);
            margin-top: 1rem;
            border-radius: 20px;
            

            .image{

                img{
                    width: 100%;
                }
            }
            h5{
                font-size:1rem ;
                text-align: center;
                
                border-radius: 5px;
            }
            .delete{
                
                button{
                    background-color: red;
                    color: white;
                    padding: 6px 10px;
                    margin: -10px;
                    border-radius: 50%;
                    border: none;
                    font-size: 1rem;
                }
            }
            
            
        }
        }
        .static{
            margin-top: 1rem;
            background-color: rgb(199, 185, 185);
            border-radius: 10px;
            
            h5{
                font-size: 1rem;
                text-align: center;
                padding-top: 0.5rem;
            }
        }
        
        
    }
}